@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body and html take up the full viewport height*/
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(106, 50, 159);
}

.center-a {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 2000px;
  margin: auto;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Shifts the div back by half of its own width and height */
  color: rgb(16, 24, 26);
}

a {
  color: rgb(16, 24, 26);
  font-size: 2em;
  background-color: rgba(56, 118, 29, 0.85);
  border-radius: 10px;
  padding: 10px;
}

a:link {
  color: rgb(16, 24, 26);
  text-decoration: none;
}

a:visited {
  color: rgb(43, 56, 60);
}

a:hover {
  color: rgb(106, 50, 159);
  font-style: italic;
}

a:active {
  color: rgb(192, 194, 199);
}

#passwordForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  color: rgb(16, 24, 26);
  background-color: rgb(56, 118, 29, 0.85);
  width: 50%;
  padding: 25px 25px;
  border: 5px solid #131212;
  font-size: 24px;
  /* font-family: monospace; Often preferred for password fields for consistent character width */
}

#protectedContent {
  display: none; /* Hide content by default */
}

label {
  background-color: rgb(56, 118, 29, 0.85);
  color: rgb(16, 24, 26);
}

input {
  border-radius: 2em;
  height: 40px;
  background-color: rgb(206, 126, 0);
}

input,
button {
  font-size: 18px;
}

input[type="password"]::placeholder {
  color: rgb(67, 66, 66); /* Changes placeholder text color to white*/
  text-align: center;
}

input[type="password"]:focus {
  color: rgb(117, 117, 117); /* Changes text color to gray when focused */
}

button {
  background-color: rgb(56, 118, 29, 0.5);
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: rgb(16, 24, 26);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  margin: 30px;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: rgb(16, 24, 26);
  background-color: rgb(106, 50, 159);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

@media (max-width: 800px) {
  body {
    margin: 0;
    height: auto;
    background-color: rgb(106, 50, 159);
  }
  .center-a {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: auto;
    padding: 10px;
  }

  img {
    width: 100%;
  }

  .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .center-b {
    text-align: center;
    font-size: 18px;
  }

  input {
    border-radius: 2em;
    height: 40px;
    width: 100%;
    font-size: 14px;
    background-color: rgb(206, 126, 0);
  }

  label {
    font-size: 20px;
  }
}




